<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  
 <ul id="result-container">
   <div class="books">
      <li id="image"><img src="<%= item.image_url %>"</li>
      <li id="book-title"><%= item.title %></li>
      <li id="author"><%= item.author %></li>
      <li id="description"><%= item.description %></li>
      <li><%= item.isbn %></li>
      <li><%= item.bookshelf %></li>
   </div>
 </ul>

</body>
</html>

