<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../public/styles/base.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Yeon+Sung&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
        <title>Saved Books</title>
      </head>
<body>

    <header id="header-container">
        <h1>Best Books</h1>
        <nav>
          <div class="icon-menu"></div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Book Search</a></li>
          </ul>
        </nav>
      </header>

      <h2 id="title">Detail View</h2>
  
      <section id="result-container">
          <div class="books">
             <h2><img src="<%= result.image_url %>"</h2>
             <h2><%= result.title %></h2>
             <h2><%= result.author %></h2>
             <p><%= result.description %></p>
             <p><%= result.isbn %></p>
             <p><%= result.bookshelf %></p>
             <div id="update-wrapper">
               <button class="update-btn btn-update"><a href="">Update Details</a></button>
               <button class="update-btn"><a href="">Delete Book</a></button>
             </div>
          </div>

          <section class="hide-me" id="hidden-form">
              <form action="" method="post">
                <input type="hidden" name="_method" value="">
                  <input type="text" name="title" value="<%= result.title %>" required>
                  <input type="text" name="author" value="<%= result.author %>" required>
                  <input type="text" name="isbn" value="<%= result.isbn %>" required>
                  <input type="text" name="image_url" value="<%= result.image_url %>" required>
                  <input type="text" name="description" value="<%= result.description %>" required>
                  <select name="" id="shelf-dropdown">
                     
                    <% bookshelves.forEach(index => { %>
                      <option value="<%= index.bookshelf %>"><%= index.bookshelf %></option>
                  <%  }) %>

                  </select>
                  <button type="submit" class="add-button">Update Book</button>
              </form>
            </section>
        </section>



        <div id="button-wrapper">
            <button class="detail-button"><a href="/">Home Page</a></button>
        </div>
        

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../public/js/app.js"></script>
</html>

