<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../public/styles/base.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Yeon+Sung&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <title>Show Searches</title>
</head>

<body>

    
    <header id="header-container">
        <h1>Best Books</h1>
        <nav>
          <div class="icon-menu"></div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Book Search</a></li>
          </ul>
        </nav>
      
      </header>

    <h2 id="title">Search by Title or Author</h2>
    <section id="result-container">
    
      
          <% searchResults.forEach(item => { %>
          <div class="books">
          <img src="<%= item.image_url %>"</img>
          <h2><%= item.isbn %></h2>
          <h2><%= item.title %></h2>
          <h2><%= item.author %></h2>
          <p><%= item.description %></p>
          <button class="detail-button select-button" type="submit">Select This Book</button>
        </div>
        

      <section class="hide-me" id="hidden-form">
        <form action="/books/detail" method="post" class="form-container">
            <input type="text" name="title" required>
            <input type="text" name="author" required>
            <input type="text" name="isbn" required>
            <input type="text" name="image_url" required>
            <input type="text" name="description" required>
            <input type="text" name="bookshelf" required>
            <button type="submit" class="add-button">Add to Database</button>
        </form>
      </section>
      <% }) %>
      

  </section>

  <footer id="footer-container">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter"></i>
      <i class="fas fa-envelope-open-text"></i>
  </footer>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../../../public/js/app.js"></script>
</html>