<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/styles/base.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Yeon+Sung&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <title>Saved Books</title>
</head>
<body>

  <header id="header-container">
   <% include ../layout/header %>
  </header>

  <main>
      
      <h2 id="title"><span id="count"><%= books.length %></span> Saved Books</h2>

    <ul id="result-container">
    <% books.forEach(item => { %>
    <div class="books">
      <li id="image"><img src="<%= item.image_url %>"</li>
      <li><%= item.isbn %></li>
      <li id="book-title"><%= item.title %></li>
      <li id="author"><%= item.author %></li>
      <li id="description"><%= item.description %></li>
      <li><a href="/books/<%= item.id %>">View Details</a></li>
    </div>
    <% }) %>
</ul>
  </main>

  // <footer id="footer-container">
  //    <% include ../layout/footer %>
  // </footer>
 
</body>
</html>